@page
@model PSA.Pages.MerchantsModel

@{
    ViewData["Title"] = "Merchants";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Business Name</th>
            <th>Contact Name</th>
            <th>Contact Surname</th>
            <th>Date of Establishment</th>
            <th>Merchant Number</th>
            <th>Average Transaction Volume</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var merchant in Model.Merchant)
        {
            <tr>
                <td>@merchant.BusinessName</td>
                <td>@merchant.ContactName</td>
                <td>@merchant.ContactSurname</td>
                <td>@merchant.DateOfEstablishment.ToShortDateString()</td>
                <td>@merchant.MerchantNumber</td>
                <td>@merchant.AverageTransactionVolume</td>
            </tr>
        }
    </tbody>
</table>
